<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <title>Btns de Acciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="btnEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <!--btn regresar-->
                        <div class="col">
                            <a 
                                th:href="@{/}" 
                                class="btn btn-info btn-block"
                            >
                                <i class="fas fa-arrow-left"></i>
                                   [[#{accion.regresar}]]
                            </a>
                        </div>
                        
                        <!--btn modificar-->
                        <div class="col">
                            <button 
                                type="submit" 
                                class="btn btn-block btn-secondary"
                            >
                                <i class="fas fa-check"></i>
                                  [[#{accion.guardar}]]
                            </button>
                        </div>
                        
                        <!--btn eliminar-->
                        <div class="col">
                            <a 
                                th:href="@{/eliminar(idpersona=${persona.idpersona})}"
                                class="btn btn-block btn-danger"
                            >
                                <i class="fas fa-trash"></i>
                                  [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div th:replace="~{layout/template :: scripts}"></div>
    </body>
</html>
