<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.3.0/css/all.css}" />
        
    </head>
    <body>
        <!--Header-->
        <header th:fragment="header">
            
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body p-2" data-bs-theme="dark">
                <div class="container-fluid">
                    <a th:href="@{/}" class="navbar-brand" th:text="#{template.titulo}"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item mr-3">
                                <a th:href="@{/}" class="nav-link active">
                                    <i class="fas fa-house pe-3"></i>
                                    <span  th:text="#{nav.titulo}"></span>
                                </a>
                            </li>
                        </ul>
                        <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
                            <li class="nav-item mr-3" >
                                <a href="#" class="nav-link">
                                   <i class="fas fa-user pe-3"></i>
                                    <span th:text="#{nav.saludo}"></span>
                                    <span sec:authentication="name"></span> 
                                </a>   
                            </li>
                            <li class="nav-item">
                                <form method="POST" th:action="@{/logout}">
                                    <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                                        <i class="fas fa-user-times pe-2"></i>
                                        [[#{nav.salir}]]
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </div> 
                </div>
            </nav>
            
            <!--Main-Header-->
            <section id="main-header" class="py-2 bg-info text-white">
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                <i class="fas fa-cog"></i>
                                [[#{template.titulo}]]
                            </h1>
                        </div>                        
                    </div>                    
                </div>
                
            </section>
            
        </header>

        <footer th:fragment="footer" class="bg-dark text-white mt-5 p-5">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        <!--Idioma-->
                        
                        <a th:href="@{/(lang=es)}">ES</a>  |
                        <a th:href="@{/(lang=en)}">EN</a>  |
                        
                        <span>[[#{template.pie-pagina}]]
                            <a 
                                href="https://lorena-de-armas.netlify.app" 
                                target="_blank"
                                >
                                Maria Lorena De Armas
                            </a> 
                        </span>
                    </p>
                </div>       
            </div>
            
        </footer>   
        
        <!--scripts-->
            <script th:fragment="scripts" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
            <script th:fragment="scripts" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
            <script th:fragment="scripts" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    </body>
</html>
